.book-detail {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(243, 238, 234, .95);
}

.book-detail__close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  font-size: 30px;
  vertical-align: top;
  line-height: 20px;
  color: #000;
  opacity: .4;
  &:hover {
    cursor: pointer;
  }
}

.book-detail__container {
  margin: 50px auto;
  height: 70%;
  width: 80%;
  text-align: center;
}

.detail__image {
  width: 100%;
  max-width: 250px;
  border-radius: 4px;
  box-shadow: -10px 3px 10px rgba(50, 0, 0, .2);
}

.book-detail__name {
  margin: 30px 0 30px;
  font-size: 1.7rem;
  font-style: italic;
}

.book-detail__email {
  font-size: 12px;
  padding: 3px 5px;
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.book-detail__submit {
  font-size: 2rem;
  box-shadow: -2px 2px 5px rgba(0,0,0,.2);
  padding: 1rem;
  display: block;
  margin: 10px auto;
}
