upstream _{{ app_name }} {
    server unix:/run/uwsgi/app/{{ app_name }}/socket;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ nginx_server_name }};

  root {{ nginx_root_dir }};
  index index.html index.htm;
  resolver 8.8.8.8;

  location = / {
    try_files /index.htm /index.html;
  }

  location / {
    try_files $uri @uwsgi;
  }

  location @uwsgi {
    include uwsgi_params;
    uwsgi_pass _{{ app_name }};
  }
}
