@font-face {
  font-family: "Overlock";
  src: url("/src/fonts/Overlock-Regular.ttf");
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  background: rebeccapurple;
}

.book {
  // max-height: 400px;
  height: 400px;
  transform: rotate(-10deg);
}
.book:nth-child(even) {
  transform: rotate(10deg);
}

.app {
  font-family: 'Overlock';
}
